h1 {
  color: rgb(140, 14, 14);
}
p {
  color: rgba(0, 0, 0, 0.659);
}
div {
  display:flex;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: center;
}
img {
  width: 40%;
  border-radius: 6%;
  max-height: 45vh;
}
article {
  padding: 0 2rem;
  text-align: justify;
}
